.g-content-about{
	justify-content: center;
	margin: 100px auto 100px auto;

	// @media(max-width:1360px){
	// 	margin: 80px auto 80px auto;
	// }

	// @media(max-width:998px){
	// 	padding: 0 100px;
	// }

	@media(max-width:576px){
		padding: 0 20px;

	}
}

.about__title{
	font-size: 70px;
	max-width: max-content;
	margin: auto;

	@media(max-width:1360px){
		//font-size: 50px;
		margin-bottom: 60px;
	}

	@media(max-width:998px){
		font-size: 50px;

	}
}

.about-step{
	display: flex;
	align-items: last baseline;
	margin-bottom: 20px;

	@media(max-width:1360px){
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 40px;
	}
}

.icon-wrapper{
	margin-right: 50px;

	@media(max-width:1360px){
		max-width: min-content;
		margin: 0 auto;
		
	}
}

.about-step__text{
	color: rgb(100, 100, 100);
	font-weight: 500;
	font-size: 30px;
	margin-top: 50px;

	@media(max-width:1360px){
		word-wrap: break-word;
		//margin-top: 10px;
	}

	
}

.about-step__text > br  {

	@media(max-width:1360px){
		display: none;

	}
	
}

.about-step__text:not(:first-child){
	margin-top: 50px;
	font-weight: 500;
	font-size: 24px;

	@media(max-width:1360px){
		margin-top: 10px;
	}

}

// .pet-icon{
// 	@media(max-width:1360px){
// 		align-items: center;
		
// 	}
// }