.g-content-about{
	justify-content: center;
	margin: 100px auto;

	@media(max-width:998px){
		margin: 80px auto;
	}

	@media(max-width:576px){
		padding: 0 20px;
		margin: 60px auto;
	}
}

.about__title{
	font-size: 70px;
	max-width: max-content;
	margin: auto;

	@media(max-width:1360px){
		margin-bottom: 60px;
	}

	@media(max-width:998px){
		font-size: 50px;

	}
}

.about-step{
	display: flex;
	align-items: last baseline;
	margin-bottom: 20px;

	@media(max-width:1360px){
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 40px;
	}
}

.icon-wrapper{
	margin-right: 50px;

	@media(max-width:1360px){
		max-width: min-content;
		margin: 0 auto;
		
	}
}

.about-step__text{
	color: #646464;
	font-weight: 500;
	font-size: 30px;
	margin-top: 50px;

	@media(max-width:1360px){
		word-wrap: break-word;
	}

	
}

.about-step__text > br  {
	@media(max-width:1360px){
		display: none;
	}
}

.about-step__text:not(:first-child){
	margin-top: 50px;
	font-weight: 500;
	font-size: 24px;

	@media(max-width:1360px){
		margin-top: 10px;
	}

}

.about-links{
	text-decoration: underline;
}
