.g-content-footer{
    margin: 0 auto;
    margin-top: 80px;

	width: 100%;
	padding: 60px 0; //150px;
	background-color: #5f6e34;
}

.footer__main-title{
	font-weight: 500;
	font-size: 24px;
	color: #fff;
	text-align: center;
}

.footer__greetings-title{
	margin-top: 30px;
	color: #fff;
	font-weight: 300;
}

.footer__greetings-list{
	text-decoration: none;
	list-style-type: none;
	color: #fff;
}

.footer__greetings-list{
	padding: 0 auto;
}