.g-content-footer{
    margin: 0 auto;
    margin-top: 80px;

	width: 100%;
	padding: 60px 0; 
	background-color: rgb(83, 116, 57);
}

.footer__greetings{
	padding-left: 60px;
	padding-right: 60px;

	@media(max-width:576px){
		padding-left: 20px;
		padding-right: 20px;
	}
}

.footer__main-title{
	font-weight: 500;
	font-size: 24px;
	color: #fff;
	text-align: center;

	padding-left: 60px;
	padding-right: 60px;

	@media(max-width:576px){
		padding-left: 20px;
		padding-right: 20px;
	}

	padding-bottom: 60px;
	border-bottom: 2px solid white;
}

.footer__greetings-title{
	margin-top: 40px;
	color: #fff;
	font-weight: 300;
	margin-bottom: 10px;
}

.footer__greetings-list{
	text-decoration: none;
	list-style-type: none;
	color: #fff;

	
}

.footer__greetings-list{
	padding: 0 auto;
}

// .footer__greetings-list-item{
// 	text-decoration:none;
// }

.footer-social-link{
	text-decoration: underline;
}

.footer-social-link{
	cursor:pointer;
}

#footer__greetings-list-item_id{
	text-decoration: underline;
}

