.g-content-footer{
    margin: 0 auto;
    margin-top: 80px;

	width: 100%;
	padding: 60px 150px;
	background-color: cadetblue;
}

.footer__main-title{
	font-weight: 500;
	font-size: 24px;
	color: #fff;
	text-align: center;
}