.g-content-about{
	justify-content: center;
	margin: 150px auto 0;
}

.about__title{
	font-size: 100px;

}

.about-step__text{
	color: rgb(100, 100, 100);
	font-weight: 500;
	font-size: 40px;
	margin-top: 50px;
}

.about-step__text:not(:first-child){
	margin-top: 50px;
	font-weight: 500;
	font-size: 40px;
}