.g-content-smallStat{
	margin-top: 100px;
	background-color:rgb(73, 73, 73);
	padding: 50px 0;
}


.smallStat-text{
	font-weight: 500;
	font-size: 40px;
	color: #fff;
	text-align: center;

}

.smallStat-wrapper{
	vertical-align: baseline;
}