.modal-contacts{
    background: rgba(49, 49, 49, 0.452);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 100;
    display: none;
}

.modal-contacts_wrapper{
    position: relative;
    top: 30%;
    background: #fff;
    min-width: fit-content;
    max-width: 370px;
    margin: 0 auto;
    padding: 30px 60px;
    
    border-radius: 30px;
    
    box-shadow: 0px 0px 50px 20px rgba(0,0,0,0.37);
    -webkit-box-shadow: 0px 0px 50px 20px rgba(0,0,0,0.37); 

    @media(max-width:576px){
        padding: 30px 30px;
	}

    @media(max-width:400px){
        max-width: fit-content;
	}
}

.modal-contacts_list{
    display: flex;
    justify-content: center;

    @media(max-width:400px){
        display: grid;
        grid-template-columns: 55px 55px; 
        grid-template-rows: 1fr 1fr; 
        gap: 20px 20px; 
	}
}

.social-links{
    max-width: max-content;
}
.social-links:not(:last-child){
    margin-right: 30px;

}
