.socials-content{
    position: fixed;
    width: 100%;
    max-width: min-content;
    margin-top: calc(100%/7);
}

.socials-content__wrapper{
    display: flex;
    flex-direction: column;
    text-align: end;
}

.social-links{
    margin-left: 40px;
    margin-bottom: 20px;
    max-width: min-content;

    @media(max-width:1360px){
        margin-left: 25px;
	}
}

.social-icons{
    max-width: min-content;
}

.social-icon{
    @media(max-width:1360px){
        width: 40px;
        height: 40px;
	}
}