.g-content-smallStat{
	margin-top: 100px;
	background-color:#778a41;
	padding: 30px 0;
}


.smallStat-text{
	font-weight: 500;
	font-size: 24px;
	color: #fff;
	text-align: center;

}

.smallStat-wrapper{
	vertical-align: baseline;
}